{% extends 'base.html' %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="text-center">Всемирный день безопасного интернета</h2>
        <p>
        Всемирный день безопасного Интернета отмечается ежегодно во второй вторник февраля. В 2020 году он приходится на 11 февраля. Это международный праздник.
        </p>
        <p>
        Всемирный день безопасного Интернета возник в январе 2004 года. Его инициатором выступила Европейская Комиссия. Идею поддержали некоммерческие организации European SchoolNet и Insafe. Она быстро распространилась среди пользователей Интернета и в правительственных учреждениях. Insafe стала главным координатором праздника.
        В России Всемирный день безопасного Интернета впервые прошел в 2005 году.
        </p>
        <p>
        Центр новостей ООН сообщил, что к концу 2016 года Интернетом пользуются 3,5 миллиарда человек – 47% населения мира. Самый высокий уровень доступа в Сеть – в Исландии (98,2%), самый низкий – в африканских странах: Чаде, Сьерра-Леоне, Нигере, Сомали и Эритрее (3%).
        </p>
        <p>
В РФ с 2008 года действует «Национальный узел Интернет-безопасности в России» – уполномоченный член Insafe (Европейская сеть Центров безопасного Интернета) и Международной сети «горячих линий» по борьбе с противоправным контентом INHOPE. С 2011 года распространению опасного контента в Рунете противодействует Лига безопасного Интернета.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
