{% extends 'base.html' %}

{% block main %}
  <section class="jumbotron">
    <div class="container col-md-8">
      <h2 class="text-center">Всемирный день безопасного Интернета</h2>
      <p class="lead text-muted text-center">
      В честь праздника мы придумали вам небольшой квест для отделения ИКТ.
      </p>
      <dl class="row">
        <dt class="col-sm-3">Задача</dt>
        <dd class="col-sm-9">
        Cобрать части ключа из выполненных заданий, части ключа пронумерованы, количество частей соответствует количеству заданий. Получившиеся части собрать вместе и использовать в поле ниже.
        </dd>
        <dt class="col-sm-3">Категории вопросов</dt>
        <dd class="col-sm-9">
        Шифры, ребусы, стеганография, поиск информации в сети интернет. Кто учавствовал в CTF, тому подобные задачки должны быть знакомы.
        </dd>
        <dt class="col-sm-3">Условия участия</dt>
        <dd class="col-sm-9">
        Группы отделения ИКТ.
        </dd>
        <dt class="col-sm-3">Условия победы</dt>
        <dd class="col-sm-9">
        Первая группа, которая выполнит все инструкции, полученные после сдачи ключа. Если победителя не найдется, то приз забирают преподаватели.
        <dt class="col-sm-3">Призы</dt>
        <dd class="col-sm-9">
        Секретные (не придуманы на самом деле)
        </dd>
      </dl>
      {{ alert|safe }}
      <form method="POST" action="/">
          <div class="form-row mx-auto">
            <div class="col-md-9">
              <input type="text" name="answ" class="form-control my-1" placeholder="Ключ для получения приза" required>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-block btn-primary my-1">Отправить</button>
            </div>
          </div>
        </form>
    </div>
  </section>

{% endblock %}
