{% extends 'base.html' %}

{% block main %}

  <div class="container">
    {% for category in categories %}
    <h3><p class="mt-2">{{ category.title  }}</p></h3>
    <div class="row">
      {% for task in tasks_by_categories[category.title] %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-2">
          <a class="my-card" href="{{ url_for('task_page', slug=task['slug']) }}">
            <div class="card my-auto" style="max-width: 18rem;">
              <div class="card-body">
                <h4 class="card-title text-center mt-2">{{ task['title'] }}</h4>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

{% endblock %}
