{% extends 'base.html' %}

{% block main %}
  
  <div class="container mt-4">
    <div class="row mx-auto">
      <div class="col-md-6 col-12 mx-auto">
        {{ alert|safe }}
          {% for category in task['categories'] %}
            <span class="badge badge-info">{{ category.title }}</span>
          {% endfor %}
        <h4 class="display-4 text-center"> {{ task['title'] }}</h2>
        <p>{{ task['body']|safe }}</p>
        <form method="POST" action="{{ url_for('task_page', slug=task['slug']) }}">
          <div class="form-row mx-auto">
            <div class="col-lg-8">
              <input name="answ" class="form-control my-1" placeholder="Ответ" required>
            </div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-block btn-primary my-1">Отправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
